//colors
$black: rgb(16, 16, 16);
$dark: rgb(128, 128, 128);

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

.hidden {
    display: none;
}

.pages {

    .page {
        color:  $black;
        min-width: 80px;
        min-height: 80px;
        margin: 2px;
        padding: 2px;
        border: 1px solid $dark;
        border-radius: 4px;
    }
    
}

.pagination {
    
    color:  $black;
    min-width: 170px;
    margin: 4px;
       
    .arrow {
        width: 24px;    
        height: 24px;
    }

    .btn-prev::after {
        content: "⇦";
    }
    
    .btn-next::after {
        content: "⇨";
    }

    .page-num {
        color:  $dark;
        text-align: center;   
        margin: 4px;
        @include noselect;
    }
    
}

.ol-popup {
    border-radius: 12px;
}