//colors
$background-color: white;
$padding: 4px;
$small-button: 24px;
$popup-offset: -50px;

@mixin nobutton {
    border: none;
    background: transparent;
    color: inherit;
}

@mixin smallbutton {
    width: $small-button;
    height: $small-button;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

.ol-popup {
	position: absolute;
	background-color: $background-color;
	bottom: 12px;
	left: $popup-offset;
    padding: $padding;
    padding-bottom: 0;
    
	&:after {
        top: auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        left: 4px - $popup-offset;
		border-top-color: $background-color;
		border-width: 10px;
		margin-left: -10px;
	}
    
	&.marker {
		margin-bottom: 30px;
	}
    
    &.hidden, .hidden {
        display: none;
    }

	&.detach {
		position: initial;
		
		&:after {
			display: none;
		}
		
		&:before {
			display: none;
		}
			
		.ol-popup-closer {
			position: initial;
		}
		
	}

    .ol-popup-content {
        white-space: nowrap;
        padding-right: 24px;
        min-width: 170px;
    }
    
    .ol-popup-closer {
        @include nobutton;
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: none;
        &:after {
            content: "✖";
        }
    }

    .pages {
        max-height: 100px;
        overflow: auto;
    }

    .pagination {
        
        padding-top: $padding;
        min-width: 170px;
        
        .arrow {
            @include smallbutton;
            @include nobutton;
        }

        .btn-prev::after {
            content: "⇦";
        }
        
        .btn-next::after {
            content: "⇨";
        }

        .page-num {
            text-align: center;   
            padding-left: $padding;
            padding-right: $padding;
            @include noselect;
        }
        
    }

}