@charset "UTF-8";
.ol-popup:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  left: 54px; }

.ol-popup {
  position: absolute;
  background-color: white;
  bottom: 12px;
  left: -50px;
  padding: 4px;
  padding-bottom: 0; }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    margin-left: -10px; }
  .ol-popup.marker {
    margin-bottom: 30px; }
  .ol-popup.hidden, .ol-popup .hidden {
    display: none; }
  .ol-popup.detach {
    position: initial; }
    .ol-popup.detach:after {
      display: none; }
    .ol-popup.detach:before {
      display: none; }
    .ol-popup.detach .ol-popup-closer {
      position: initial; }
  .ol-popup .ol-popup-content {
    white-space: nowrap;
    padding-right: 24px;
    min-width: 170px; }
  .ol-popup .ol-popup-closer {
    border: none;
    background: transparent;
    color: inherit;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none; }
    .ol-popup .ol-popup-closer:after {
      content: "✖"; }
  .ol-popup .pages {
    max-height: 100px;
    overflow: auto; }
  .ol-popup .pagination {
    padding-top: 4px;
    min-width: 170px; }
    .ol-popup .pagination .arrow {
      width: 24px;
      height: 24px;
      border: none;
      background: transparent;
      color: inherit; }
    .ol-popup .pagination .btn-prev::after {
      content: "⇦"; }
    .ol-popup .pagination .btn-next::after {
      content: "⇨"; }
    .ol-popup .pagination .page-num {
      text-align: center;
      padding-left: 4px;
      padding-right: 4px;
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Chrome/Safari/Opera */
      -khtml-user-select: none;
      /* Konqueror */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently */ }
