//colors
$white: white;
$color_celeste_approx: #cccccc;
$gray: gray;
$black: rgb(16, 16, 16);
$dark: rgb(128, 128, 128);
$padding: 4px;
$small-button: 24px;
$popup-offset: -50px;

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

//@extend-elements
//original selectors
//.ol-popup:after, .ol-popup:before
%extend_1 {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	left: 4px - $popup-offset;
}

.ol-popup {
	position: absolute;
	background-color: $white;
	bottom: 12px;
	left: $popup-offset;
    
	&:after {
		@extend %extend_1;
		border-top-color: $white;
		border-width: 10px;
		margin-left: -10px;
	}
    
	&:before {
		@extend %extend_1;
		border-top-color: $color_celeste_approx;
		border-width: 11px;
		margin-left: -11px;
	}
    
	&.marker {
		margin-bottom: 30px;
	}
    
    &.hidden, .hidden {
        display: none;
    }

	&.detach {
		position: initial;
		
		&:after {
			display: none;
		}
		
		&:before {
			display: none;
		}
			
		.ol-popup-closer {
			position: initial;
		}
		
	}

    .ol-popup-content {
        white-space: nowrap;
        padding-right: 24px;
        padding-top: $padding;
        padding-left: $padding;
        min-width: 170px;
        overflow-x: auto;

        h3 {
            margin: 0.25em 0;
        }
    }
    
    .ol-popup-closer {
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 0 4px;
        text-decoration: none;
        &:after {
            content: "\2716";
        }
    }

    .pages {
        max-height: 100px;
        overflow: auto;
    }

    .pagination {
        
        padding-top: $padding;
        min-width: 170px;
        
        .arrow {
            width: $small-button;    
            height: $small-button;
        }

        .btn-prev::after {
            content: "⇦";
        }
        
        .btn-next::after {
            content: "⇨";
        }

        .page-num {
            text-align: center;   
            padding-left: $padding;
            padding-right: $padding;
            @include noselect;
        }
        
    }

}