@charset "UTF-8";
.hidden {
  display: none; }

.pages .page {
  color: #101010;
  min-width: 80px;
  min-height: 80px;
  margin: 2px;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 4px; }

.pagination {
  color: #101010;
  min-width: 170px;
  margin: 4px; }

.pagination .arrow {
  width: 24px;
  height: 24px; }

.pagination .btn-prev::after {
  content: "⇦"; }

.pagination .btn-next::after {
  content: "⇨"; }

.pagination .page-num {
  color: gray;
  text-align: center;
  margin: 4px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */ }

.ol-popup {
  border-radius: 12px; }
